{% extends 'home.html' %}
{% block titulo %} Checkout  {% endblock %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Nommbre..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Informacion de entrega:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Direccion..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="Ciudad..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="Comuna..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Codigo Postal..">
                    </div>
                </div>

                <hr>
                
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal</small>
            <button id="make-payment">Realizar pago</button> 
            <div id="paypal-button-container"></div>
        </div>
        
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">   &#x2190; volver al carrito</a>
            <hr>
            <h3>Orden</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.producto.imagen.url}}"></div>
                <div style="flex:2"><p>{{item.producto.nombre}}</p></div>

                <div style="flex:1"><p>${{item.producto.precio}}</p></div>
                <div style="flex:1"><p>x{{item.cantidad}}</p></div>
            </div>
            {% endfor %}
            <h5>Items:   {{orden.get_cart_items}}</h5>
            <h5>Total:   ${{orden.get_cart_total}}</h5>
        </div>
    </div>
</div>
<script type="text/javascript">
    var shipping = '{{orden.shipping}}'
    var total = '{{orden.get_cart_total}}'

    if(shipping == 'False'){
        document.getElementById('shipping-info').innerHTML=''
    }
    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML=''
    }
    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form Submitted')
        document.getElementById('form-button').classList.add("hidden");
        document.getElementById('payment-info').classList.remove("hidden");
    })
    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
        
    })
    function submitFormData(){
        
        console.log('Payment button clicked')

        var userFormData = {
            'name' : null,
            'email' : null,
            'total' : total,
        }

        var shippingInfo = {
            'address' : null,
            'city' : null,
            'state' : null,
            'zipcode' : null,
            'producto': null,

        }
        if(shipping == 'True'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value

        }
        if(user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }
        var url = '/process_order'
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken': csrftoken,
            },
            body:JSON.stringify({'form': userFormData, 'shipping': shippingInfo}
            )
        })
        .then((response) => response.json())
        .then((data) => {
            console.log("Success:", data);
            alert("Compra realizada")
            window.location.href = "{% url 'limpiar' %}"
            
        })
    }
</script>
<script src="https://www.paypal.com/sdk/js?client-id=YOUR-CLIENT-ID&currency=USD&disable-funding=credit"></script>
{% endblock contenido %}