{% extends "home.html" %}

{% block titulo %} comics  {% endblock %}

{% block contenido %} 
<section class="banner_main">
    <div class="card">
        <div class="card-header">
            {% for group in user.groups.all %}
                {% if user.is_authenticated %}
                    {% if group.name == 'Vendedor' %}
                    <a name="" id="" class="btn btn-primary" href="{% url 'crear_comic' %}" role="button" href="#">agregar nuevo comic</a>
                   {% endif %}
                {% endif %}
            {% endfor %}
            <div class="row">
                {% for comic in comics %}
        
                    <div class="col-lg.4 text-center">
                        <img src="{{comic.imagen.url}}"width = "230">
                        <div class="box-element product" >
                                <h6><strong> {{ comic.nombre }} </strong></h6>
                                <hr>
                                <button data-product="{{comic.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar al carrito</button>
                                <h4 style="display: inline-block"><strong>${{comic.precio}} </strong></h4>
                                <h4 style="display: inline-block"><strong>X{{comic.stock}} </strong></h4>    
                                {% for group in user.groups.all %}
                                    {% if user.is_authenticated %}
                                        {% if group.name == 'Vendedor' %}
                                            <a name="" id="" class="btn btn-info" href="{% url 'editar' comic.id %}" role="button">Editar </a>
                                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' comic.id %}" role="button">Borrar </a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                        </div> 
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}