{% extends "home.html" %}

{% block titulo %}  Agregar nuevo comic  {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        Crear un Comic
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del comic</h4>
        {% include 'libros/form.html' %}
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}