{% extends "home.html" %}

{% block titulo %} Libros  {% endblock %}

{% block contenido %} 
<section class="banner_main">
    <div class="card">
        <div class="card-header">
            {% for group in user.groups.all %}
                {% if user.is_authenticated %}
                    {% if group.name == 'Vendedor' %}
                    <a name="" id="" class="btn btn-primary" href="{% url 'crear_libro' %}" role="button" href="#">agregar nuevo libro</a>
                   {% endif %}
                {% endif %}
            {% endfor %}
            <div class="row">
                {% for libro in libros %}
                    <div class="col-lg.4  text-center">
                        <img src="{{libro.imagen.url}}">
                        <div class="box-element product" >
                                <h6><strong> {{ libro.nombre }} </strong></h6>
                                <hr>
                                <button data-product="{{libro.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar al carrito</button>
                                <h4 style="display: inline-block"><strong>${{libro.precio}} </strong></h4>
                                <h4 style="display: inline-block"><strong>X{{libro.stock}} </strong></h4>    
                                {% for group in user.groups.all %}
                                    {% if user.is_authenticated %}
                                        {% if group.name == 'Vendedor' %}
                                            <a name="" id="" class="btn btn-info" href="{% url 'editar' libro.id %}" role="button">Editar </a>
                                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' libro.id %}" role="button">Borrar </a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                        </div> 
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}