{% extends "home.html" %}

{% block titulo %} Libros  {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Producto</th>
                    <th>Direccion</th>
                    <th>Ciudad</th>
                    <th>Region</th>
                    <th>Codigo postal</th>
                    <th>Fecha compra</th>
                    <th>Fecha enviado</th>
                </tr>
            </thead>
            <tbody>        
                {% for pedido in pedidos %}
                <tr>
                    <td> {{ pedido.usuario }} </td>
                    <td> 
                        {% for articulo in pedido.producto %}
                            {{ articulo }} <br>  
                        {% endfor %}
                    </td>
                    <td> {{ pedido.direccion }} </td>
                    <td> {{ pedido.ciudad }} </td>
                    <td> {{ pedido.region }} </td>
                    <td> {{ pedido.codigo_postal }} </td>
                    <td> {{ pedido.fecha_anadido }} </td>
                    <td> {{ pedido.Fecha_enviado }} </td>
                    {% for group in user.groups.all %}
                        {% if user.is_authenticated %}
                            {% if group.name == 'Vendedor' %}
                        <td> <a name="" id="" class="btn btn-info" href="enviado/{{pedido.id}}" role="button"> Enviar </a>
                        </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %} 
                </tr>
                {% endfor %}        
            </tbody>
        </table>
        
        
    </div>
    <div class="card-footer text-muted">

    </div>
</div>

{% endblock %}