{% extends "base.html" %}

{% block titulo %} Libros  {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">

        {% for group in user.groups.all %}
            {% if user.is_authenticated %}
                {% if group.name == 'Vendedor' %}
                <a name="" id="" class="btn btn-primary" href="{% url 'crear_libro' %}" role="button" href="#">agregar nuevo libro</a>
               {% endif %}
            {% endif %}
        {% endfor %}
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Editorial</th>
                    <th>Imagen</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    {% for group in user.groups.all %}
                        {% if user.is_authenticated %}
                            {% if group.name == 'Vendedor' %}
                                <th>Acciones</th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                <tr>
                    <td> 
                        <img src="{{libro.imagen.url}}" width="100">
                    </td>
                    <td> {{ libro.editorial }} </td>
                    <td> {{ libro.nombre }} </td>
                    
                    <td> {{ libro.stock }} </td>
                    <td> {{ libro.precio }} </td>
                    {% for group in user.groups.all %}
                        {% if user.is_authenticated %}
                            {% if group.name == 'Comprador' %}
                            <td> <a name="" id="" class="btn btn-info" href="{% url 'agregar' libro.id %}" role="button">Añadir al carrito </a> </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                   
                    {% for group in user.groups.all %}
                        {% if user.is_authenticated %}
                            {% if group.name == 'Vendedor' %}
                                <td> <a name="" id="" class="btn btn-info" href="{% url 'editar' libro.id %}" role="button">Editar </a>
                                    |
                                    <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' libro.id %}" role="button">Borrar </a>
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for group in user.groups.all %}
            {% if user.is_authenticated %}
                    {% if group.name == 'Comprador' %}
                        {% include "paginas/carrito.html" %}
                    {% endif %}
            {% endif %}
        {% endfor %}
        
        
    </div>
    <div class="card-footer text-muted">

    </div>
</div>

{% endblock %}